html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  color: #F2F1F0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: bold;
  line-height: .5;
  letter-spacing: 1pt;
}

h2 {
  font-weight: lighter;
  letter-spacing: 5pt;
  text-transform: capitalize;
  font-size: 12pt;
  line-height: .5;
}
.main-wrapper {
  background-color: #3E1E20;
  height: 100%;
  width: 100%;
  position: top;
  text-align: left;
}

.logo {
  position:absolute;
  background: url(IMG-5814.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 500px;
  height: 500px;
  transform: translateX(-100%) translateY(-15%);
}

a {
  font-weight: 100;
  font-size: 12px;
  color:inherit;
  display: inline-block;
  transition: 300ms;
  padding-left: .5em;
  padding-right:.5em;
  padding-top: .2em;
  padding-bottom: .2em;
  border: 0px solid;
  margin:.0em;
  text-decoration: none;
  border-radius: 10px;
  line-height: 3;
}

a:hover {
  background-color: #FFE800;
  color: #101820;
  font-weight: bolder;
}
.info {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(0) translateY(0%);
}
